body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

h1,p {
    color: #fff;
    text-align: center;
}

#preview {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    z-index: 10;
}

.closedPreview {
    animation: closePreview 1s both !important;
}

#btn {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
    border-radius: 100%;
    box-shadow: 0 0 5px white;
    transition: box-shadow 500ms;
    will-change: box-shadow;
}

#btn:hover {
    cursor: pointer;
    box-shadow: 0 0 15px #eeeeee;
}

#ocean {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url("img/ocean.jpg") no-repeat fixed;
    background-size: cover;
    z-index: -1;
}

.fish{
    display: block;
}

.fish:hover {
    cursor: pointer;
}

#shark {
    position: absolute;

    height: 150px;
    width: auto;
    opacity: .5;
    animation: shark 6500ms 5s infinite linear both;
    -moz-animation: shark 6500ms 5s infinite linear both;
}

.infoBarContainer {
    position: fixed;
    top: 0;
    right: 0;
    width: 150px;
    height: 50px;
    z-index: 9;
    opacity: .7;
    background: #ffffff;
    display: flex;

}

#gameResult {
    color: #fff;
    text-align: center;
}

#gameScore {
    flex: 2;
}

#gameTimer {
    flex: 3;
}

#gameTimer, #gameScore {
    border: 2px solid #eee;
    color: gray;
    text-align: center;

}

#gameTimer span, #gameScore span {
    font-weight: bold;
    color: hsl(242, 63%, 29%)
}

.additionalInfo {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: center;
}

.vodorosli {
    position: absolute;
    width: 190px;
    height: 190px;
    transition: height 500ms;
    animation: vodorosli 3s infinite both;
    -moz-animation: vodorosli 3s infinite both;
}

#stone {
    height: 150px;
    width: auto;
    position: absolute;
    bottom: -5%;
    left: 50%;
    opacity: .95;
    z-index: -1;
    animation: stone 4s 1500ms both;
    -moz-animation: stone 4s 1500ms both;
    animation-play-state: paused;
}

.vodorosli.first {
    bottom: -3%;
    left: 0;
}

.vodorosli.second {
    bottom: -2%;
    left: 7%;
}

.vodorosli.third {
    bottom: -3%;
    left: 15%;
}

.vodorosli.fourth {
    bottom: -4%;
    left: 20%;
}

.vodorosli.fifth {
    bottom: -2%;
    left: 25%;
}

.vodorosli.sixth {
    bottom: -4%;
    left: 31%;
}

.vodorosli.seventh {
    bottom: -2%;
    left: 39%;
}

.vodorosli.eighth {
    bottom: -3%;
    left: 44%;
}

.vodorosli.ninth {
    bottom: -4%;
    left: 57%;
}

.vodorosli.tenth {
    bottom: -2%;
    left: 63%;
}

.vodorosli.v11 {
    bottom: -3%;
    left: 69%;
}

.vodorosli.v12 {
    bottom: -4%;
    left: 78%;
}

.vodorosli.v13 {
    bottom: -2%;
    left: 85%;
}

@keyframes closePreview {
    100% {
        transform: translateY(-1500px);
    }
}

@keyframes shark {
    0% {
        transform: rotate(15deg) translate(-100%,150%);

    }
    100% {
        transform: rotate(0deg) translate(700%,250%);
    }
}

@keyframes vodorosli {
    50% {
        height: 250px;
    }
    100% {
        height: 190px;
    }
}

